[Unit]
Description=Run flannel-watchdog every 60s

[Timer]
OnBootSec=2min
OnUnitActiveSec=60s
AccuracySec=5s
Unit=flannel-watchdog.service

[Install]
WantedBy=timers.target
