apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: default
  labels:
    app: api
    component: backend
spec:
  type: NodePort
  selector:
    app: api
  ports:
  - name: http
    port: 5000
    targetPort: 5000
    protocol: TCP
